.content {
  min-height: 90vh;
  height: max-content;
  max-width: 100vw;
  position: relative;
  padding: 15px 0;
  top: var(--header-height);
  font-size: 22px;
  display: flex;
  justify-content: center;
}

.tags {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

.about,
.tutorials,
.contact {
  max-width: 95%;
  padding: 5vh;
  min-height: fit-content;
}

.to-tutorial-links li a{
  color: darkblue
}

.mapouter {
  position: relative;
  margin: auto;
  text-align: center;
  height: 60vmin;
  width: 100%;
  padding-bottom: 5vmax;
}

#gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .about,
  .tutorials,
  .contact {
    width: 85%;
  }

  .mapouter{
    width: 80%
  }
}
