header {
  background: var(--bgd);
  text-align: center;
  position: fixed;
  z-index: 10;
  max-width: 100vw;
  width: 100vw;
  height: var(--header-height);
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.logo {
  font-size: min(3vmax, 2rem);
  grid-column: 2/span 1;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  position: absolute;
  text-align: left;
  background: var(--bgd);
  width: 100%;
  top: 100%;
  left: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin: 0 0 1em 1em;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: min(2vmax, 1.4rem);
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: black;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  grid-column: 1/ span 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-bars {
  font-size: min(3vmax, 2rem);
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 0.2s ease-in-out 250ms;
}



@media screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 5fr) 1fr;
  }

  .logo {
    grid-column: 2 / span 1;
  }

  nav {
    all: unset;
    grid-column: 3 / span 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav li {
    margin: 0 0 0 3em;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    display: block;
    content: "";
    height: 2px;
    background: black;
    position: absolute;
    top: 1.2em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform 150ms ease-in-out;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}
