.tutorial-article{
    width: 95vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas{
    position: relative;
    width: 95vw;
    transform: scale(1.2);
}

.pager{
    position: relative;
    width: max-content;
    display: flex;
    align-items: space-evenly;
    padding: 10px;
}

.download-link{
    position: relative;
    width: max-content
}

.btn{
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.7);
    background-color: var(--bgd);
}

@media screen and (min-width: 768px){
    .tutorial-article{
        width: 80vw;
    }
}