:root {
  --bgd: rgb(98, 199, 224);
  --header-height: 8vh;
}

html, body{
  max-width: 100vw;
  width: 100vw
}

body {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (min-width: 768px){
  :root{
    --header-height: 6vh;
  }
}